<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>

<!--setting the title-->
<title>URL Shortener</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">


</head>

<body>

<div>
	 <!-- setting up the image -->
<a href="/"><img src="" height="75px" width="70px" class="logo"></a>

    <!--setting up the heading content-->
    <div class="logo-name">URL SHORTENER
    </div>
</div>

<hr size="0" class="division-line">


<div>

<div class="heading">ENTER THE URL TO BE SHORTED</div>

	<form method="GET" action="/u2">

<div style="margin-top: 50px;position: relative;">
<input type="text" name="url_short" value="" class="input" placeholder="Enter here..">
</div>

<div style="margin-top: 50px;
    margin-left: 331px;">
<button class="produce-button">PRODUCE</button>
</div>

</form>

<div>

<img src="" width="620px" height="340px" style="    margin-left: 940px;
margin-top: -1000px;"></div>

</div>

</body>
</html>